.navbar{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background: #FFFFFF;  
}

.nt_logo{
    font-size: larger;
    color: #649D8A;
    margin-right: 10px;
}

.menu{
    font-size: medium;
    color: #649D8A;
    margin-right: 10px;
}

.nav_btn{
        padding: 10px 20px;
        background-color: #649D8A;
        color: #FFFFFF;
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.3s, color 0.3s;
        font-size: medium;
}

.nav_btn:hover {
    background-color: #FFFFFF;
    color: #649D8A;
  }